@font-face {
    font-family: 'roboto-regular';
    src: url(/fonts/Roboto-Regular.ttf) format('truetype');
}

*{
    margin:0;
    padding: 10px;
    font-family: 'roboto-regular';
}
.one{
    background-color: #1F2937;
    color: #F9FAF8;
}
.one-first{
    font-size: 48px;
    font-weight: bold;
}
.one-second{
    font-size: 18px;
    color: #E5E7EB;
}
.two{
    color:#1F2937;
}
.two-first{
    font-weight:bolder;
    color:#1F2937;
    font-size: 48px;
}
.three{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.four{
    background-color: #3882f6;

}
.center {
    margin: auto;
    width: 50%;
    border: 3px ;
    padding: 10px;
  }